# Node modules
node_modules/

# Build output
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# VS Code specific
.vscode/

# Test output
coverage/
*.log
