# Exclude dependencies and build outputs
node_modules/
dist/
out/
tmp/
coverage/

# Exclude editor-specific and local config
.vscode/
*.tsbuildinfo
*.log
*.sh

# Exclude version control folders
.git/
.github/

# Exclude tests and documentation not needed in VSIX
test/
**/*.test.*
*.yml

# Exclude common system-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

